<!-- BEGIN small_imageblock -->
{$LR_BLOCK_H_L}<!-- IF $S_BLOCK_ICON --><img src="{T_THEME_PATH}/images/portal/portal_gallery.png" width="16" height="16" alt=""/>&nbsp;<!-- ENDIF --><!-- IF small_imageblock.U_BLOCK --><a href="{small_imageblock.U_BLOCK}">{small_imageblock.BLOCK_NAME}</a><!-- ELSE -->{small_imageblock.BLOCK_NAME}<!-- ENDIF -->{$LR_BLOCK_H_R}
	<div style="text-align: center;">
		<!-- BEGIN imagerow -->
			<!-- BEGIN image -->
				{small_imageblock.imagerow.image.UC_THUMBNAIL}<br />
				<!-- IF small_imageblock.imagerow.image.S_UNAPPROVED --><div style="font-weight: bold; color: red">{L_QUEUE_STATUS_0}</div><!-- ENDIF --><!-- IF small_imageblock.imagerow.image.S_LOCKED --><div style="font-weight: bold; color: red">{L_QUEUE_STATUS_2}</div><!-- ENDIF --><!-- IF small_imageblock.imagerow.image.S_REPORTED --><div style="font-weight: bold; color: red">{L_IMAGE_REPORTED}</div><!-- ENDIF -->
					<div style="text-align: left; margin: 5px 0 0 0">
						<div class="gensmall">
							<!-- IF small_imageblock.imagerow.image.UC_IMAGE_NAME -->{L_IMAGE_NAME}: {small_imageblock.imagerow.image.UC_IMAGE_NAME}<br /><!-- ENDIF -->
							<!-- IF small_imageblock.imagerow.image.U_ALBUM -->{L_ALBUM_NAME}: <a href="{small_imageblock.imagerow.image.U_ALBUM}" style="font-weight: bold;">{small_imageblock.imagerow.image.ALBUM_NAME}</a><br /><!-- ENDIF -->
							<!-- IF small_imageblock.imagerow.image.POSTER -->{L_UPLOADED_BY_USER}: {small_imageblock.imagerow.image.POSTER}<br /><!-- ENDIF -->
							<!-- IF small_imageblock.imagerow.image.TIME -->{L_UPLOADED_ON_DATE}: {small_imageblock.imagerow.image.TIME}<br /><!-- ENDIF -->
							<!-- IF small_imageblock.imagerow.image.VIEW > -1 -->{L_VIEWS}: {small_imageblock.imagerow.image.VIEW}<br /><!-- ENDIF -->
							<!-- IF small_imageblock.imagerow.image.S_RATINGS -->{L_RATING}: <a href="{small_imageblock.imagerow.image.U_RATINGS}">{small_imageblock.imagerow.image.S_RATINGS}</a><br /><!-- ENDIF -->
							<!-- IF small_imageblock.imagerow.image.S_COMMENTS -->{small_imageblock.imagerow.image.L_COMMENTS}: <a href="{small_imageblock.imagerow.image.U_COMMENTS}">{small_imageblock.imagerow.image.S_COMMENTS}</a><br /><!-- ENDIF -->
							<!-- IF small_imageblock.imagerow.image.S_IP -->{L_IP}: {small_imageblock.imagerow.image.S_IP} &#187; <a href="{small_imageblock.imagerow.image.U_WHOIS}" onclick="popup(this.href, 750, 500); return false;">{L_WHOIS}</a><br /><!-- ENDIF -->
							<!-- IF small_imageblock.imagerow.image.U_REPORT or small_imageblock.imagerow.image.U_STATUS or small_imageblock.imagerow.image.U_MOVE or small_imageblock.imagerow.image.U_EDIT or small_imageblock.imagerow.image.U_DELETE -->
							<a href="javascript: dE('moderate_smallimageblock_{small_imageblock.S_ROW_COUNT}_imagerow_{small_imageblock.imagerow.image.IMAGE_ID}');">{L_MODERATE}</a>
							<div id="moderate_smallimageblock_{small_imageblock.S_ROW_COUNT}_imagerow_{small_imageblock.imagerow.image.IMAGE_ID}" style="display: none;">
								<!-- IF small_imageblock.imagerow.image.U_REPORT -->&#187; <a href="{small_imageblock.imagerow.image.U_REPORT}" class="reported-images-number">{L_READ_REPORT}</a><br /><!-- ENDIF -->
								<!-- IF small_imageblock.imagerow.image.U_STATUS -->&#187; <a href="{small_imageblock.imagerow.image.U_STATUS}">{small_imageblock.imagerow.image.L_STATUS}</a><br /><!-- ENDIF -->
								<!-- IF small_imageblock.imagerow.image.U_MOVE -->&#187; <a href="{small_imageblock.imagerow.image.U_MOVE}">{L_MOVE}</a><br /><!-- ENDIF -->
								<!-- IF small_imageblock.imagerow.image.U_EDIT -->&#187; <a href="{small_imageblock.imagerow.image.U_EDIT}">{L_EDIT_IMAGE}</a><br /><!-- ENDIF -->
								<!-- IF small_imageblock.imagerow.image.U_DELETE -->&#187; <a href="{small_imageblock.imagerow.image.U_DELETE}">{L_DELETE_IMAGE}</a><br /><!-- ENDIF -->
							</div>
						<!-- ENDIF -->
						</div>
					</div>
				<br />
			<!-- END image -->
		<!-- END imagerow -->
	</div>
{$LR_BLOCK_F_L}{$LR_BLOCK_F_R}
<!-- END small_imageblock -->